@font-face {
    font-family: 'duanningyingbixingshu';
    src: url('/fonts/duanningyingbixingshu.woff2') format('woff2'),
        url('/fonts/duanningyingbixingshu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}